
@{
    ViewBag.Title = "Danh sách hồ sơ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">

        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Ngày</label>

                    <div class="col-sm-4">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="date" data-date-inline-picker="true" class="form-control pull-right" id="datepicker">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="date" class="form-control pull-right">
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                Ngày tạo
                            </label>
                            <label style="margin-left:20px">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                Ngày cập nhật
                            </label>
                        </div>

                    </div>
                </div>
                <div class="form-group" data-select2-id="25">
                    <label class="col-sm-2 control-label">Multiple</label>
                    <div class="col-sm-8">
                        <select class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Select a State" style="width: 100%;" data-select2-id="7" tabindex="-1" aria-hidden="true">
                            <option data-select2-id="26">Alabama</option>
                            <option data-select2-id="27">Alaska</option>
                            <option data-select2-id="28">California</option>
                            <option data-select2-id="29">Delaware</option>
                            <option data-select2-id="30">Tennessee</option>
                            <option data-select2-id="31">Texas</option>
                            <option data-select2-id="32">Washington</option>
                        </select>
                    </div>
                   
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Tìm kiếm</label>

                    <div class="col-sm-8">
                        <input type="search" class="form-control" id="txtSearch" placeholder="">
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <button type="submit" class="btn btn-info pull-right">Tìm kiếm</button>

            <!-- /.box-footer -->
        </form>
        <div class="clearfix"></div>
        <div class="box" style="margin-top:50px;">
            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="example1_length">
                                <label>
                                    Show <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries
                                </label>
                            </div>
                        </div>

                    </div><div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" style="width: 231px;">Rendering engine</th>
                                        <th class="" aria-controls="example1" rowspan="1" colspan="1" style="width: 282px;">Browser</th>
                                        <th class="" aria-controls="example1" rowspan="1" colspan="1" style="width: 251px;">Platform(s)</th>
                                        <th class="" aria-controls="example1" rowspan="1" colspan="1" style="width: 198px;">Engine version</th>
                                        <th class="" aria-controls="example1" rowspan="1" colspan="1" style="width: 145px;">CSS grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Presto</td>
                                        <td>Nintendo DS browser</td>
                                        <td>Nintendo DS</td>
                                        <td>8.5</td>
                                        <td>C/A<sup>1</sup></td>
                                    </tr>

                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Trident</td>
                                        <td>
                                            Internet
                                            Explorer 5.5
                                        </td>
                                        <td>Win 95+</td>
                                        <td>5.5</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Trident</td>
                                        <td>
                                            Internet
                                            Explorer 6
                                        </td>
                                        <td>Win 98+</td>
                                        <td>6</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Trident</td>
                                        <td>Internet Explorer 7</td>
                                        <td>Win XP SP2+</td>
                                        <td>7</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Trident</td>
                                        <td>AOL browser (AOL desktop)</td>
                                        <td>Win XP</td>
                                        <td>6</td>
                                        <td>A</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr><th rowspan="1" colspan="1">Rendering engine</th><th rowspan="1" colspan="1">Browser</th><th rowspan="1" colspan="1">Platform(s)</th><th rowspan="1" colspan="1">Engine version</th><th rowspan="1" colspan="1">CSS grade</th></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 41 to 50 of 57 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button previous" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div></div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

</div>
<script>
    var queries = new URLSearchParams(window.location.search);
    var page = 1;
    var limit = 10;
    var pageMargin = 2;
    var totalPage = 1;
    var totalRecord = 0;
    var lstStatus = [
        { value: "0", display: "Lưu tạm" },
        { value: "1", display: "Nhập liệu" },
        { value: "2", display: "Thẩm định" },
        { value: "3", display: "Từ chối" },
        { value: "4", display: "Bổ sung hồ sơ" },
        { value: "5", display: "Giải ngân" },
        { value: "6", display: "Đã đối chiếu" },
        { value: "7", display: "Hủy" },
        { value: "8", display: "PCB" },
    ]
    $(document).ready(function e() {
        renderStatusList();
       
        //$('#datepicker').datepicker({

        //    autoclose: true
        //})
        window.addEventListener('popstate', function (e) {

            queries = new URLSearchParams(window.location.search)
            bindQueries()
            var maNhom = queries.get("maNhom");
            $('#ddlNhom').val(maNhom)
            $('#ddlNhom').chosen().trigger("chosen:updated").change();


            var memberId = queries.get("maThanhVien");
            if (isNullOrWhiteSpace(maNhom) || parseInt(maNhom) === 0 || isNullOrWhiteSpace(memberId) || parseInt(memberId) === 0) {
                $('#ddlThanhVienNhom').empty();
                $('#ddlThanhVienNhom').append("<option value='0'></option>");
                $('#ddlThanhVienNhom').val('0');
                $('#ddlThanhVienNhom').chosen().trigger("chosen:updated");
            }
            else {
                $('#ddlThanhVienNhom').val(memberId)
                $('#ddlThanhVienNhom').chosen().trigger("chosen:updated");
            }

            page = queries.get("page");
            if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
                page = 1;
            else
                page = parseInt(page)
            limit = queries.get("limit")
            if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
                limit = 10;
            else
                limit = parseInt(limit)
            getData(page, limit, memberId, true)
        });
        //var input = document.getElementById("txtFreeText");
        //input.addEventListener("keyup", function (event) {
        //    if (event.keyCode === 13) {
        //        event.preventDefault();
        //        $("#btn_search").click();
        //    }
        //});

        //$('#ddlThanhVienNhom').chosen({ width: '100%', allow_single_deselect: true });
        //$('#ddlNhom').chosen({ width: '100%', allow_single_deselect: true });
        //$('#ddllimit').chosen({ width: '100%', allow_single_deselect: true });
        //$('#txtFromDate').datepicker({
        //    dateFormat: 'dd-mm-yy'
        //}).next().on(ace.click_event, function () {
        //    $(this).prev().focus();
        //});
        //$('#txtToDate').datepicker({
        //    dateFormat: 'dd-mm-yy'
        //}).next().on(ace.click_event, function () {
        //    $(this).prev().focus();
        //});

        //var status = decodeURI(queries.get("status"))
        //if (!isNullOrWhiteSpace(status)) {
        //    let arrStatus = status.split(',')
        //    $('#ddlStatus').val(arrStatus).chosen().trigger("chosen:updated")
        //}

        //bindQueries()
    });
    
            function bindQueries() {

            var fromDate = queries.get("fromDate");
            if (isNullOrWhiteSpace(fromDate)) {
                fromDate = new Date().getDay + -7;
            }
            $("#txtFromDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", fromDate);
            var toDate = queries.get("toDate");
            if (isNullOrWhiteSpace(toDate)) {
                toDate = new Date().getDay + 1;
            }
            $("#txtToDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", toDate);
            var dateType = queries.get("loaiNgay");
            setCheckedValueOfRadioButtonGroup("radio-ngay", dateType)
            var maHS = queries.get("maHS");
            $('#txtMaHS').val(maHS)
            $('#txtFreeText').val(queries.get("freetext"))
            var cmnd = queries.get("cmnd");
            $('#txtCMND').val(cmnd)
            page = queries.get("page");
            if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
                page = 1;
            else
                page = parseInt(page)
            limit = queries.get("limit")
            if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
                limit = 10;
            else
                limit = parseInt(limit)
            $("#ddlLimit").val(limit)
        }
    $('#btn_search').click(function (e) {
        showBlock($('#panel_body'), strLoading);
        getData(page, limit);
        //$('#dtSource').DataTable().ajax.reload();
        //$('#dtSource').DataTable().columns.adjust().draw();
    });
    function renderStatusList() {
        $("#ddlStatus").empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSTrangThai", "QuanLyHoSo")',
            data: {},
            success: function (data) {
                $('#ddlStatus').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, item) {
                        $('#ddlStatus').append("<option value='" + item.ID + "'>" + item.Ten + "</option>");
                    });

                    var status = decodeURI(queries.get("status"))
                    if (!isNullOrWhiteSpace(status)) {
                        let arrStatus = status.split(',')
                        $('#ddlStatus').val(arrStatus).chosen().trigger("chosen:updated")
                    }
                    $('#ddlStatus').chosen().trigger("chosen:updated");
                }
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });


        //$.each(lstStatus, function (index, item) {
        //    $("#ddlStatus").append("<option value='" + item.value + "'>" + item.display + "</option>")
        //})
        //$('#ddlStatus').chosen().trigger("chosen:updated");
        //$('#ddlStatus').trigger("change");

    }
    function getTotalPage(totalRecord, limit) {
        return totalRecord > limit ? Math.ceil(totalRecord / limit) : 1
    }
    function onClickPage(page) {
        page = page;
        getData(page, limit);
    }
    function renderGoPreviousPage(page) {
        let newCurrentPage = page
        if (page > 1) {
            newCurrentPage = page - 1
            return "<li class='paginate_button previous' aria-controls='dtSource' tabindex='0' onclick='onClickPage(" + newCurrentPage + ")'>"
                + "<a href='javascript:;'>Trước</a>"
                + "</li>"

        } else {
            return ""
        }
    }
    function renderGoNextPage(page) {
        if (page < totalPage) {
            newCurrentPage = page + 1
            return "<li class='paginate_button next' aria-controls='dtSource' tabindex='0' onclick='onClickPage(" + newCurrentPage + ")' >"
                + "<a href='javascript:;'>Sau</a>"
                + "</li>"

        } else {
            return ""
        }
    }
    function renderGoLastPage(page) {

        if (totalPage > page) {
            return "<li class='paginate_button next' aria-controls='dtSource' tabindex='0' onclick='onClickPage(" + totalPage + ")' >"
                + "<a href='javascript:;'>Trang cuối</a>"
                + "</li>"
        } else {
            return ""
        }
    }
    function renderGoFirstPage(page) {
        if (totalPage > 1 && page > 1) {
            return "<li class='paginate_button next' aria-controls='dtSource' tabindex='0' onclick='onClickPage(" + 1 + ")' >"
                + "<a href='javascript:;'>Trang đầu</a>"
                + "</li>"
        } else {
            return ""
        }
    }
    function renderPageList(page, limit, totalRc) {
        totalPage = getTotalPage(totalRc, limit)
        var startPage = page > pageMargin ? page - pageMargin : 1;
        var endPage = pageMargin + page > totalPage ? totalPage : pageMargin + page
        var paging = $("#paging");
        paging.empty();
        var first = renderGoFirstPage(page)
        var next = renderGoNextPage(page);
        var prev = renderGoPreviousPage(page)
        var last = renderGoLastPage(page)
        paging.append(first)
        paging.append(prev)
        for (var i = startPage; i <= endPage; i++) {
            var active = page == i ? ' active' : '';
            var item = "<li class='paginate_button" + active + " aria-controls='dtSource' tabindex='0' onclick='onClickPage(" + i + ")' >"
                + "<a href='javascript:;'>" + i + "</a>"
                + "</li>"
            paging.append(item)
        }
        paging.append(next);
        paging.append(last)
    }
    function getValueDisplay(value, type) {
        if (isNullOrWhiteSpace(type))
            return value
        var display = null
        switch (type) {
            case 'datetime':
                display = FormatDateTimeDMY(value);
            default: break;
        }
        return display;
    }
    function onSelectLimit() {
        limit = $("#ddlLimit").val()
        getData(page, limit)
        //alert(limit)
    }
    function renderTextLeft(value, type, className = '') {
        return "<td class='text-left " + className + "'>" + getValueDisplay(value, type) + "</td>";
    }
    function renderTextCenter(value, type) {
        return "<td class='text-center'>" + getValueDisplay(value, type) + "</td>";
    }
   function renderStatus(MaTrangThai, TrangThaiHS) {
        var statusString = "";
        if (MaTrangThai == '@((int)VietStar.Client.Models.Enums.ProfileStatus.Draft)')
            statusString = "<span class='label label-sm label-light arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VietStar.Client.Models.Enums.ProfileStatus.Input)')
            statusString = "<span class='label label-sm label-purple arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VietStar.Client.Models.Enums.ProfileStatus.Expertise)')
            statusString = "<span class='label label-sm label-danger arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VietStar.Client.Models.Enums.ProfileStatus.Compared)')
            statusString = "<span class='label label-sm label-dadoichieu arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VietStar.Client.Models.Enums.ProfileStatus.Deny)')
            statusString = "<span class='label label-sm label-inverse arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VietStar.Client.Models.Enums.ProfileStatus.Cancel)')
            statusString = "<span class='label label-sm label-cancel arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VietStar.Client.Models.Enums.ProfileStatus.PCB)')
            statusString = "<span class='label label-sm label-pcb arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VietStar.Client.Models.Enums.ProfileStatus.Additional)')
            statusString = "<span class='label label-sm label-info arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VietStar.Client.Models.Enums.ProfileStatus.Release)')
           statusString = "<span class='label label-sm label-success arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VietStar.Client.Models.Enums.ProfileStatus.Finish)')
            statusString = "<span class='label label-sm label-success arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        return "<td class='text-left'>" + statusString + "</td>";;
    }
    function renderAction(id, MaTrangThai, MaNV) {
        var thaoTac = "<div class='action-buttons'>"
            + "<a title='' class=\"blue\" style='cursor: pointer' id='" + id+ "' onClick='XemHS(" + id +")'>"
            + "<i class=\"ace-icon fa fa-eye bigger-130\">"
            + "</i></a>"

        thaoTac += "</div>";
        return "<td class='text-center'>" + thaoTac + "</td>"
    }
    function renderCoBaoHiem(CoBaoHiem) {
        var value = ""
        if (CoBaoHiem == true)
            value = "<td class='text-left'> <div class='orange bolder' title='Không có bảo hiểm' ><i class=\"ace-icon fa fa-ban bigger-130\"></i></div> </td>";
        else
            value = "<td class='text-left'> <div class='green bolder'title = 'Có bảo hiểm' > <i class=\"ace-icon glyphicon glyphicon-ok bigger-130\"></i></div> </td>";
        return value;
    }
    function renderRow(index, rowData) {

        page = queries.get("page");
        if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
            page = 1;
        else
            page = parseInt(page)
        limit = queries.get("limit")
        if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
            limit = 10;
        else
            limit = parseInt(limit)
        var stt = (page - 1) * limit + index + 1;
        return "<tr role='row' class = 'odd'>"
            + renderTextCenter(stt)
            + renderTextLeft(rowData.MaHoSo)
            + renderTextLeft(rowData.NgayTao, 'datetime')
            + renderTextLeft(rowData.DoiTac)
            + renderTextLeft(rowData.CMND)
            + renderTextLeft(rowData.Phone)
            + renderTextLeft(rowData.TenKH)
            + renderStatus(rowData.MaTrangThai, rowData.TrangThaiHS)
            + renderTextLeft(rowData.GhiChu, '', 'tb-row-breakword')
            + renderTextLeft(rowData.DisbursementDate, 'datetime')
            + renderTextLeft(rowData.NgayCapNhat, 'datetime')
            + renderTextLeft(rowData.TenSanPham)
            + renderTextLeft(rowData.MaNV)
            + renderTextLeft(rowData.NhanVienBanHang)
            + renderTextLeft(rowData.DoiNguBanHang)
            + renderTextLeft(rowData.MaNVLayHS)
            + renderCoBaoHiem(rowData.CoBaoHiem)
            + renderTextLeft(rowData.KhuVucText)
            + renderAction(rowData.ID, rowData.MaTrangThai, rowData.MaNV)
            + "</tr>";
    }
    function renderTableBody(datas) {
        var table = $("#dtSource")
        var tableBody = $("#dtSource").find("tbody");
        tableBody.empty();
        if (isNullOrNoItem(datas))
            return;
        $.each(datas, function (index, item) {
            tableBody.append(renderRow(index, item));
        });

    }
    @*var dsNhom = @Html.Raw(Json.Serialize(@ViewBag.DSNhom));
    $(document).ready(function () {
        if (dsNhom.length > 0)
            LayNhom();
        else {
            page = queries.get("page");
            if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
                page = 1;
            else
                page = parseInt(page)
            limit = queries.get("limit")
            if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
                limit = 10;
            else
                limit = parseInt(limit)
            getData(page, limit)
            //InitTable();
        }

    });*@

    function getData(page, limit, memberId = 0, isPopState = false)
    {
        if (isNaN(memberId) || memberId == 0) {
            memberId =  dsNhom.length > 0 ? $('#ddlThanhVienNhom').val() : 0
        }

        showBlock($('#panel_body'), strLoading);
        $.ajax( {
                url: '@Url.Action("TimHSQL", "QuanLyHoSo")',
                type: "GET",
                contentType: "application/json",
            data: {
                'page': page,
                'limit': limit,
                'maNhom': dsNhom.length > 0 ? $('#ddlNhom').val() : 0,
                'maThanhVien': memberId,
                 'fromDate':$('#txtFromDate').val(),
                'toDate': $('#txtToDate').val(),
                'maHS': $('#txtMaHS').val(),
                'cmnd': $('#txtCMND').val(),
                'freetext': $("#txtFreeText").val(),
                'loaiNgay': $('input[name="radio-ngay"]:checked').val(),
                'status': !isNullOrNoItem($("#ddlStatus").val()) ? $("#ddlStatus").val().toString() : ""
            },
            success: function (response) {
                if (response.success == true) {
                    totalRecord = response.data.TotalRecord;
                    var search = this.url.replace("/QuanLyHoSo/DanhSachHoSo", "");
                    search = search.replace("/QuanLyHoSo/TimHSQL","")
                    queries = new URLSearchParams(search)

                    page = queries.get("page");
                    if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
                        page = 1;
                    else
                        page = parseInt(page)
                    limit = queries.get("limit")

                    if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
                        limit = 10;
                    else
                        limit = parseInt(limit)
                    renderTableBody(response.data.Datas)
                    //renderGoPreviousPage(page);
                    renderPageList(page, limit, totalRecord)
                    $("#dtSource_info").text("Tổng: " + totalRecord + " items");
                    $("#totalPage").text("Tổng: " + totalPage + " trang");
                }
                else {
                    swal({
                        title: "",
                        text: response.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }

            },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                },
                complete: function () {
                    $('#panel_body').unblock();
                    if (!isPopState) {
                        var requestUrl = this.url.replace("TimHSQL", "DanhSachHoSo")
                        window.history.pushState(requestUrl, this.title, requestUrl)
                    }

            }
        })

    }

</script>
<script>
    function LayNhom() {
        $('#ddlNhom').empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSNhom", "QuanLyHoSo")',
            data: {},
            success: function (data) {
                $('#ddlNhom').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, item) {
                        $('#ddlNhom').append("<option value='" + item.ID + "'>" + item.Ten + "(" + item.TenQL + ")</option>");
                    });
                    $('#ddlNhom').chosen().trigger("chosen:updated").change();
                }
                queries = new URLSearchParams(window.location.search)
                var memberId = queries.get("maThanhVien");
                getData(page, limit, memberId);
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    $('#ddlNhom').change(function () {
        $('#ddlThanhVienNhom').empty();
        $('#ddlThanhVienNhom').append("<option value='0'></option>");
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSThanhVienNhom", "QuanLyHoSo")',
            data: { "maNhom": $('#ddlNhom').val() },
            success: function (data) {
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, item) {
                        $('#ddlThanhVienNhom').append("<option value='" + item.ID + "'>" + item.Ten + "</option>");
                    });
                }
            },
            complete: function () {
                $('#ddlThanhVienNhom').chosen().trigger("chosen:updated");
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    });

</script>
<script>
    function XemHS(id) {
        window.location = "/QuanLyHoSo/XemHSByID?id=" + id;
    }
    function SuaHS(id) {
        window.location = "/QuanLyHoSo/SuaHSByID?id=" + id;
    }
</script>
<script>
    function DownloadReport(e) {
        var maNhom = 0;
        var maThanhVien = 0;

        if ($('#ddlNhom').val() != undefined) {
            maNhom = $('#ddlNhom').val();
        }
        if ($('#ddlThanhVienNhom').val() != undefined) {
            maThanhVien = $('#ddlThanhVienNhom').val();
        }
        else
            maThanhVien = 0
        var objectSend = JSON.stringify({ 'maNhom': maNhom, 'maThanhVien': maThanhVien, 'fromDate': $('#txtFromDate').val(), 'toDate': $('#txtToDate').val(), 'maHS': $('#txtMaHS').val(), 'cmnd': $('#txtCMND').val(), 'loaiNgay': $('input[name="radio-ngay"]:checked').val() });
        $.ajax({
            traditional: true,
            url: '/QuanLyHoSo/DownloadReport',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: objectSend,
            success: function (data) {
                if (data.success == true) {
                    var link = document.createElement("a");
                    link.href = data.code;
                    link.click();
                }
                else {
                    swal({
                        title: "",
                        text: data.Message.ErrorMessage,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {

            },
        });
    }
</script>
